<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Users</title>
        <link rel="stylesheet" type="text/css" href="./../css/all.css">
    </head>
    <body>
        <div class="container">
        <h1>Here are all users which can upload files on our platform:</h1>
        <div class="link">
        <a href="http://84.32.214.42:80/index">Do you want to upload file? Click here.</a>
    </div>


       
        
            <ul id="userList"></ul>
        </div>
    
        <script src="./script.js"></script>
    </body>
    </html>
    




