<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./../css/style.css">
    
</head>
<body>
    <div class="container">

        <div class="h2">
        <h1>Welcome to Audio-Store site!</h1>
    </div>
        <h1>Login</h1>
        <form action="/api/login" method="POST">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="link">
            <a href="http://84.32.214.42:80/sign">Do not have an account? Click here.</a>
        </div>
    </div>
</body>
</html>


